@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

h1 {
    display: none;
    font-weight: 900;
    font-size: 36px;
    padding-left: 15px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
}

p {
    display: none;
    font-weight: 400;
    font-size: 24px;
}

img {
    margin: auto;
}

p.desc {
    font-size: 18px;
}

button {
    float: right;
}

div.review {
    width:60%; 
    float:left;
}

div.bestItems {
    width: 40%;
    float: left;
}

div.menu {
    width: 40%;
    float: left;
}

.theme {
    background-color: white;
    color: black;
}

.theme-card {
    background-color: white;
    color: black;
}

.crd-img {
    width: 99.8%;
	height: 99.8%;
    transition: opacity 0.3s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.crd-img-link:hover {
    cursor: pointer;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.card {
	float: left;
	margin: 1.6%;
	width: 30%;
}

#dark{
	background-color:#000000;
}

#light{
	background-color:#000000;
}