@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

h1 {
    font-weight: 900;
    font-size: 50px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    margin-right: 10%;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

p {
    font-weight: 400;
    font-size: 18px;
}

img {
    display: block;
    margin: auto;
}

button {
    float: right;
}

div.menuOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */  
}

img.overlay-img-button {
    width:99%;
    height: auto;
    user-select: none;
    transition: opacity 0.3s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}

img.overlay-img-button:hover {
    opacity: 0.5;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

img.overlay-img {
    display:block;
    margin:auto;
    width:65%;
    height: auto;
    pointer-events: none;
    user-select: none;
}


.food-item {
    float: left;
    margin: 5px;
    width: 47%;
    position: relative;
}

.theme {
    background-color: white;
    color: black;
}

.theme-card {
    background-color: white;
    color: black;
}

.crd-img {
    width: 99.8%;
	height: 99.8%;
    transition: opacity 0.3s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.crd-img-link:hover {
    cursor: pointer;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.logo{
    display: inline-block;
    width:70px;
}

#dark{
	background-color:#000000;
}

#light{
	background-color:#000000;
}